<footer class="footer">
    <div class="links">
        <p class="footer-title">Quick Links</p> 
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Prices</a></li>
        </ul>
    </div>
    <div class="contacts">
        <p class="footer-title">Contact us</p>
        <span><a href="http://skype.com"><i class="fas fa-mobile-alt"></i> 00885 625 358</a></span>
        <span><a href="http://www.gmail.com"><i class="fas fa-envelope"></i> p.petkov@gmail.com</a></span>
    </div>
    <div class="adress">
            <p class="footer-title">Address</p>
            <span>Sofia, Bulgaria</span>
            <span><a href="https://www.google.com/maps/@42.6575139,23.3711347,15z"><i class="fas fa-map-marker-alt"></i> Mladost 1, 356</a></span>
        </div>
    <div class="links-social">
            <p class="footer-title">Follow us</p>            
                <span><a href="http://www.facebook.com"><i class="fab fa-facebook-f"></i></a></span>
                <span><a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a></span>
                <span><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></span>              
            
        </div>
</footer>