<header class="header">
    <input type="checkbox" name="main-nav-toggle" id="main-nav-toggle" checked="">
    <div>
        <p class="site-title"><i class="fas fa-home"></i> PP building sulutions</p>
        <label for="main-nav-toggle" id="toggle">Menu</label>
        <nav class="main">
            <ul>
                <li><a href="http://127.0.0.1:4000/#">Home</a></li>
                <li><a href="http://127.0.0.1:4000/services">Services</a>
                    <ul>
                        <li><a href="#">Mazilka</a></li>
                        <li><a href="#">Plochki</a></li>
                        <li><a href="#">Shpaklovka</a></li>
                    </ul>
                </li>
                <li><a href="http://127.0.0.1:4000/index">Gallery</a></li>
                <li><a href="http://127.0.0.1:4000/prices">Prices</a></li>
                <li><a href="http://127.0.0.1:4000/contacts">Contact Us</a></li>
            </ul>
        </nav>
    </div>
    <section class="banner">
        <div>
            <p>Share your ideas and they will become REALITY</p>
            <p>Build with US</p>
        </div>
    </section>
</header>