body{
    margin: 0%;
    padding: 0%;
    background: #CCCCCC
}
ul{
    background: #444;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-align: center

}
ul li{
    font-size: 24px;
    height: 40px;
    display: inline-block;
    padding: 20px;    
}
ul li a{
    color:#ffffff;
    text-decoration: none;

}