<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" type="text/css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ site.title }}</title>
</head>

<body class="{% if page.type %}{{page.type}} {% endif %}{% if page.title %}{{ page.title | slugify }}{% else %}home{% endif %}">
    <div class="site">
        <div class="site-header">
            <div class="contacts first-bar">
                <ul>
                    <li><a class="fab fa-facebook-f" href="https://www.facebook.com"></a></li>
                    <li><a class="fab fa-instagram" href="https://www.instagram.com/?hl=bg"></a></li>
                    <li><a class="fas fa-mobile-alt" href="#"> 0899 356 547</a></li>
                </ul>
            </div>
            <input type="checkbox" name="main-nav-toggle" id="main-nav-toggle" checked />
            <header>
                <p class="site-title fab fa-gg"></p>
                <label for="main-nav-toggle" id="toggle">Menu</label>

                <nav class="main">
                    <ul>
                        <li><a href="{{ site.baseurl }}/">Начало</a></li>
                        <li><a href="{{ site.baseurl }}/about/">Програма за теб</a>
                            <ul>
                                <li><a href="{{ site.baseurl }}/about/">Тренировъчен режим</a>
                                <li><a href="{{ site.baseurl }}/about/">Хранителен режим</a>
                            </ul>
                        </li>
                        <li><a href="{{ site.baseurl }}/clients/">Доволни клиенти</a></li>
                        <li><a href="{{ site.baseurl }}/articles/">Статии</a></li>
                        <li><a href="{{ site.baseurl }}/recepts/">Рацепти</a></li>
                        <li><a href="{{ site.baseurl }}/forMe/">За мен</a></li>
                        <li><a href="{{ site.baseurl }}/contacts/">Контакти</a></li>
                    </ul>
                </nav>
            </header>
            <div class="site-text">
                <p>GENADI GENADIEV</p>
                <p>Stop wishing. Start doing.</p>
            </div>
        </div>

        <main class="site-content">
			
				{{content}}
			
			</main>
        <footer class="site-footer">

        </footer>
    </div>

</body>

</html>