.best-projects{
    background: rgba(17, 17, 79, 0.2);
    padding: 0 1rem 1rem 1rem;    
}
.projects{
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;    
    overflow: hidden;
}
.projects li{
    display: block;
    list-style: none outside;
    flex: 0 0 30%;
    margin-bottom: 1rem;
}

.projects li:before{
    display: block;
    content: '';
    padding-top: 100%;
    
}
.projects li span{
    position: absolute;
}
.projects li span.title{
    left: 1.4rem;
    bottom: 22rem;
}
.projects li span.situation{   
    bottom: 1rem;
    right: 1.4rem;
}
.projects li span.desc{
    bottom: 1rem;
    left: 1.5rem;
}
.projects li a{
    display: block;
    position: relative;
    top: 0;right:0; left: 0; bottom: 0;
    text-decoration: none;
    color: white;
    text-shadow: 5px 5px 20px rgb(0,0,0);
}
body > div > section > ul > li:nth-child(1){
    background: url(../img/house2.jpg) no-repeat center center;
    background-size: cover;
}
body > div > section > ul > li:nth-child(2){
    background: url(../img/house3.jpg) no-repeat center center;
    background-size: cover;
    
}
body > div > section > ul > li:nth-child(3){
    background: url(../img/werehouse.jpg) no-repeat center center;
    background-size: cover;
}
body > div > section > ul > li:nth-child(4){
    background: url(../img/bathrooms.jpg) no-repeat center center;
    background-size: cover;
}
body > div > section > ul > li:nth-child(5){
    background: url(../img/kitchen.jpg) no-repeat center center;
    background-size: cover;
}
body > div > section > ul > li:nth-child(6){
    background: url(../img/house4.jpg) no-repeat center center;
    background-size: cover;
}
