.services{
    background: rgba(17, 17, 79, 0.2);
    padding: 0 1rem 1rem 1rem;  
    color: rgb(17,17,79);
    font-style: italic;  
}
.services ul{
    padding-left: 2rem;
}
.services ul li{
    display: block;
    list-style: none outside;    
}